@font-face {
  font-family: 'SourceHanSansCN';
  src: url('./SourceHanSansCN-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url('./SourceHanSansCN-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansCN-Regular';
  src: url('./SourceHanSansCN-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansCN-Normal';
  src: url('./SourceHanSansCN-Normal.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceHanSansCN-Light';
  src: url('./SourceHanSansCN-Light.otf');
  font-weight: normal;
  font-style: normal;
}
