.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.1rem !important;
}

.mr-2 {
  margin-right: 0.2rem !important;
}

.mr-3 {
  margin-right: 0.3rem !important;
}

.ml-15 {
  margin-left: 0.15rem !important;
}

.ml-2 {
  margin-left: 0.2rem !important;
}

.mb-1 {
  margin-bottom: 0.1rem !important;
}

.mb-2 {
  margin-bottom: 0.2rem !important;
}

.mt-2 {
  margin-top: 0.2rem !important;
}

.mt-3 {
  margin-top: 0.3rem !important;
}
