@import './variables.scss';

.font-blue {
  color: $blue !important;
}

.font-yellow {
  color: $yellow !important;
}

.font-orange {
  color: $orange !important;
}

.font-darkOrange {
  color: $darkOrange !important;
}

.font-red {
  color: $red !important;
}

.font-green {
  color: $green !important;
}

.font-gray {
  color: $gray !important;
}

.font-skyBlue {
  color: $sky-blue !important;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-yellow {
  background-color: $yellow !important;
}

.bg-orange {
  background-color: $orange !important;
}

.bg-red {
  background-color: $red !important;
}

.bg-green {
  background-color: $green !important;
}

.bg-gray {
  background-color: $gray !important;
}
